<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Natural resource management meets statistical computing</h3>
                <h1>Glassroot Analytics</h1>
                <h3>We build powerful web applications to provide business advantage in the environmental sector</h3>
            </div>
{% comment %}
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/browser.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>
{% endcomment %}
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
