
<!-- /only using headerwraper for this web -->
<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1> Bessie Tao</h1>
                <h5> I am an illustrator with mathematics background.</h5>

            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/head4.jpg" | prepend: site.baseurl }}" class="img-responsive">
            </div>

        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
